{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}"{{ cms_document_data() }}{% if app.debug %} data-debug="1"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    {% block metas %}
        <title>EkynaCmsBundle</title>
    {% endblock metas %}

    {{ ui_content_stylesheets() }}

    {% block stylesheets -%}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link href="{{ asset('bundles/ekynacore/css/fontawesome.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ekynacore/css/glyphicons.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ekynacms/css/bootstrap-content.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ekynacookieconsent/css/cookie-consent.css') }}" rel="stylesheet" type="text/css" />
    {%- endblock stylesheets %}

    {{ ui_fonts_stylesheets() }}
    {{ ui_forms_stylesheets() }}

    {% include '@EkynaCore/Ui/ie-fix.html.twig' %}

    {{ require_js(not app.debug) }}
</head>
<body>
    {% block body %}

        {% include '@EkynaCms/Cms/Fragment/navbar.html.twig' %}

        {% block breadcrumb -%}
            <div class="container">
                {{ cms_notices() }}
                {%- include '@EkynaCore/Ui/flashes.html.twig' -%}
                {{ cms_breadcrumb() }}
            </div>
        {%- endblock breadcrumb %}

        {% block content %}{% endblock content %}

        <div class="container" id="footer">
            {{ render_esi(controller('EkynaCmsBundle:Cms:footer', {'locale': app.request.locale})) }}
            <div>
                {{ cms_locale_switcher() }}
            </div>
        </div>
    {% endblock body %}

    {% block javascripts -%}
        <script type="text/javascript">require(['bundles/ekynacms/js/main']);</script>
        {{ ekyna_cookie_consent_render() }}

        {#{% if ekyna_cookie_consent_category_allowed('analytic') -%}
            Analytic cookie dependant scripts here
        {%- endif %}#}

    {%- endblock javascripts %}
</body>
</html>
{% endspaceless %}
