{% apply spaceless %}
<ul class="nav nav-tabs" data-tab-key="{{ context.config.id }}">
    <li class="active">
        <a href="#page-general" id="toggle-general" data-toggle="tab">
            {{- 'field.general'|trans({}, 'EkynaUi') -}}
        </a>
    </li>
    <li>
        <a href="#page-seo" id="toggle-seo" data-toggle="tab">
            {{- 'field.seo'|trans({}, 'EkynaUi') -}}
        </a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="page-general">
            {{ form_row(form.name) }}
            {{ form_row(form.parent) }}
            {{ form_row(form.enabled) }}
            {% if form.controller is defined %}
                {{ form_row(form.controller) }}
            {% endif %}
            {% if form.template is defined %}
                {{ form_row(form.template) }}
            {% endif %}
            {{ form_row(form.translations) }}
        </div>
        <div class="tab-pane" id="page-seo">
            {{ form_row(form.seo) }}
        </div>
    </div>
    {{ form_rest(form) }}
</div>
{% endapply %}
