{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block actions %}
{{ admin_resource_btn(page, 'list') }}
{% endblock %}

{% block main %}
<div class="actions">
    {% if not page.dynamicPath %}
        {{ ui_button('ekyna_core.button.show_front', {'type': 'link', 'icon': 'eye-open', 'path': path(page.route)}, {'target': '_blank'}) }}
    {% endif %}
    {{ admin_resource_btn(page, 'edit') }}
    {{ admin_resource_btn(page, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#page-general" id="toggle-general" data-toggle="tab">
                {{- 'ekyna_core.field.general'|trans -}}
            </a>
        </li>
        <li>
            <a href="#page-seo" id="toggle-seo" data-toggle="tab">
                {{- 'ekyna_core.field.seo'|trans -}}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="page-general">
                {{ show_row(page.name, 'text', 'ekyna_core.field.name') }}
                {{ show_row(page.parent, 'entity', 'ekyna_core.field.parent', {'field': 'name', 'route': 'ekyna_cms_page_admin_show', 'route_params_map': {'pageId': 'id'}}) }}
                {{ show_row(page.enabled, 'checkbox', 'ekyna_core.field.enabled') }}

                {% if not page.static %}
                    {{ show_row(cms_page_controller(page.controller), 'text', 'ekyna_cms.page.field.controller') }}
                {% endif %}

                {% if page.advanced %}
                    {{ show_translations_row(page.translations, {
                        'fields': {
                            'title': {'label': 'ekyna_core.field.title'},
                            'breadcrumb': {'label': 'ekyna_core.field.breadcrumb'},
                            'path': {'label': 'ekyna_core.field.url'}
                        }
                    }) }}
                {% else %}
                    {{ show_translations_row(page.translations, {
                        'fields': {
                            'title': {'label': 'ekyna_core.field.title'},
                            'breadcrumb': {'label': 'ekyna_core.field.breadcrumb'},
                            'path': {'label': 'ekyna_core.field.url'},
                            'html': {
                                'label': 'ekyna_core.field.content',
                                'type': 'tinymce',
                                'content': path('ekyna_cms_page_admin_tinymce', identifiers|merge({'pageId': page.id})),
                            }
                        }
                    }) }}
                {% endif %}
            </div>
            <div class="tab-pane" id="page-seo">
                {{ show_row(page.seo, 'seo') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
