{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.page.header.show'|trans({'%name%': page})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(page, 'list') }}
{% endblock %}

{% block main %}
<div class="actions">
    {% if not page.getDynamicPath %}
        {{ ui_button('ekyna_core.button.show_front', {'type': 'link', 'icon': 'eye-open', 'path': path(page.route)}) }}
    {% endif %}
	{{ admin_resource_btn(page, 'edit') }}
	{{ admin_resource_btn(page, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
        <li><a href="#seo" data-toggle="tab">{{ 'ekyna_core.field.seo'|trans }}</a></li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                {{ show_row(page.name, 'text', 'ekyna_core.field.name') }}
                {{ show_row(page.title, 'text', 'ekyna_core.field.title') }}
                {{ show_row(page.path, 'text', 'ekyna_core.field.url') }}
                {% if not page.static %}
                    {{ show_row(cms_page_controller(page.controller), 'text', 'ekyna_cms.page.field.controller') }}
                {% endif %}
                {% if not page.advanced %}
                {{ show_row(path('ekyna_cms_page_admin_tinymce', identifiers|merge({'pageId': page.id})), 'tinymce', 'ekyna_core.field.content') }}
                {% endif %}
            </div>
            <div class="tab-pane" id="seo">
                {{ show_row(page.seo, 'seo') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}