<ul class="nav nav-tabs">
    <li class="active"><a href="#general" data-toggle="tab">Général</a></li>
    <li><a href="#seo" data-toggle="tab">Référencement</a></li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    <div class="tab-content">
	    <div class="tab-pane active" id="general">
	        {{ form_row(form.name) }}
	        {{ form_row(form.parent) }}
	        <div class="row">
	            <div class="col-md-6">{{ form_row(form.menu, {'label_col': 4, 'widget_col': 8}) }}</div>
	            <div class="col-md-6">{{ form_row(form.footer, {'label_col': 4, 'widget_col': 8}) }}</div>
	        </div>
	        {% if form.html is defined %}
	            {{ form_row(form.html) }}
	        {% endif %}
	    </div>
	    <div class="tab-pane" id="seo">
	        {{ form_row(form.seo.title) }}
	        {{ form_row(form.seo.description) }}
	        {{ form_row(form.path) }}
	        <div class="row">
	            <div class="col-md-6">{{ form_row(form.seo.changefreq, {'label_col': 4, 'widget_col': 8}) }}</div>
	            <div class="col-md-6">{{ form_row(form.seo.priority, {'label_col': 4, 'widget_col': 8}) }}</div>
	        </div>
	    </div>
    </div>
    {{ form_rest(form) }}
</div>