{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.page.header.content_edit'|trans({'%name%': page.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_cms_page_admin_list', identifiers), 'ekyna_core.button.back_to_list', 'default', 'sm', 'list') }}
{#{ ui_link(path('ekyna_cms_page_admin_new', identifiers), 'ekyna_cms.page.button.new', 'primary', 'sm', 'plus') }#}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_cms_page_admin_content_edit', identifiers|merge({'pageId': page.id})) }}" {{ form_enctype(form) }} method="post">
    <div class="form-body">
	    {{ form_widget(form) }}
    </div>
    {{ ui_form_footer(path('ekyna_cms_page_admin_content', identifiers|merge({'pageId': page.id}))) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}