{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.page.header.content_edit'|trans({'%name%': page.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(page, 'list') }}
{#{ admin_resource_btn(page, 'new') }#}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_cms_page_admin_content_edit', identifiers|merge({'pageId': page.id})) }}" {{ form_enctype(form) }} method="post">
    <div class="form-body">
	    {{ form_widget(form) }}
    </div>
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}