{% extends "EkynaAdminBundle:Entity:content.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.page.header.content'|trans({'%name%': page.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_cms_page_admin_list', identifiers), 'ekyna.admin.button.back_to_list', 'default', 'sm', 'list') }}
{#{ ui_link(path('ekyna_cms_page_admin_new', identifiers), 'ekyna_cms.page.button.new', 'primary', 'sm', 'plus') }#}
{% endblock %}

{% block main %}
<div class="actions">
    {{ ui_link(path('ekyna_cms_page_admin_content_edit', identifiers|merge({'pageId': page.id})), 'ekyna.admin.button.edit', 'warning', 'sm', 'pencil') }}
    {{ ui_link(path('ekyna_cms_page_admin_show', identifiers|merge({'pageId': page.id})), 'ekyna.admin.button.back_to_show', 'default', 'sm', 'eye-open') }}
</div>
<div class="show">
    {{ cms_content(page.content) }}
</div>
{% endblock %}

{% block side %}
{% endblock %}