{% extends "EkynaAdminBundle:Entity:content.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.page.header.content_show'|trans({'%name%': page.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(page, 'list') }}
{#{ admin_resource_btn(page, 'new') }#}
{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(page, 'edit', {'label': 'ekyna_core.button.content_edit', 'path': path('ekyna_cms_page_admin_content_edit', identifiers|merge({'pageId': page.id}))}) }}
    {{ admin_resource_btn(page, 'show', {'label': 'ekyna_core.button.back_to_show'}) }}
</div>
<div class="show">
    {{ cms_content(page.content) }}
</div>
{% endblock %}

{% block side %}
{% endblock %}