{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.page.header.edit'|trans({'%name%': page.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_link(path('ekyna_cms_page_admin_list'), 'ekyna.admin.button.back_to_list', 'default', 'sm', 'list') }}
{#{ ui_link(path('ekyna_cms_page_admin_new'), 'ekyna_cms.page.button.new', 'primary', 'sm', 'plus') }#}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_cms_page_admin_edit', {'pageId': page.id}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaCmsBundle:Page/Admin:_form.html.twig" %}
    {{ ui_form_footer(path('ekyna_cms_page_admin_show', {'pageId': page.id})) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}