{% macro show_tags(subject, options) %}
    {% set options = {
        'id': 'tags',
        'label_col': 2,
        'widget_col': 10
    }|merge(options|default({})) %}
    <div class="row show-row">
        <div class="col-md-{{ options.label_col }} show-label">
            {{ 'ekyna_cms.tag.label.plural'|trans }}
        </div>
        <div class="col-md-{{ options.widget_col }}">
            <div class="show-widget show-widget-inline" id="{{ options.id }}">
            {% for tag in subject.tags %}
                <a href="{{ admin_resource_path(tag) }}" class="label label-{{ tag.theme }}">
                    <span class="fa fa-{{ tag.icon }}"></span> {{ tag.name }}
                </a>
            {% else %}
                {{ 'ekyna_core.value.none'|trans }}
            {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}
