{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block actions %}
{{ admin_resource_btn(slideShow, 'list') }}
{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(slideShow, 'edit') }}
    {{ admin_resource_btn(slideShow, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#slideshow-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#slideshow-render" id="toggle-render" data-toggle="tab">
                {{ 'ekyna_cms.slide_show.field.render'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="slideshow-general">
                {{ show_row(slideShow.name, 'text', {
                    'label': 'ekyna_core.field.name'
                }) }}
                <div class="actions">
                    {{ admin_resource_btn('ekyna_cms.slide', 'new', {
                        'label': 'ekyna_cms.slide.button.new',
                        'path': path('ekyna_cms_slide_admin_new', {
                            'slideShowId': slideShow.id,
                        })
                    }) }}
                </div>
                {{ ekyna_table_render(slides) }}
            </div>
            <div class="tab-pane" id="slideshow-render">
                {{ slide_show_render(slideShow) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url(asset('bundles/ekynacms/css/slide-show.css')) }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}
