{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block actions %}

{% endblock %}

{% block main %}
    <div class="actions">
        {{ admin_resource_btn(tag, 'edit') }}
        {{ admin_resource_btn(tag, 'remove') }}
    </div>
    <div class="show">
        <div class="show-body">
            {{ show_row(tag.name, 'text', {
                'label': 'ekyna_core.field.name'
            }) }}
            <div class="row">
                <div class="col-md-6">
                    {{ show_row(tag.theme|cms_theme, 'text', {
                        'label': 'ekyna_core.field.theme',
                        'label_col': 4
                    }) }}
                </div>
                <div class="col-md-6">
                    {{ show_row(tag.icon|ui_fa_icon ~ ' (' ~ tag.icon ~ ')', 'text', {
                        'label': 'ekyna_core.field.icon',
                        'label_col': 4
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
