{% extends "EkynaCmsBundle::base.html.twig" %}

{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}

{% block body %}
    <div class="container">
        {{ cms_flashes() }}
        {{ cms_breadcrumb() }}

        {{ cms_title() }}
        {{ cms_content() }}
    </div>
{% endblock body %}