{% extends '@EkynaCms/Cms/page.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="container">
        <h2>{{ 'wide_search.title'|trans({'{{expression}}': expression}, 'EkynaCms') }}</h2>
        {% for result in results %}
        <div class="search-result" data-score="{{ result.score }}">
            <h4>
                <a href="{{ path(result.route, result.parameters) }}">
                    {{ result.title }}
                </a>
            </h4>
            <p>{% if result.description|length %}{{ result.description|raw }}{% endif %}</p>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
