{% spaceless %}
<ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
    <li class="active">
        <a href="#menu-general" id="toggle-general" data-toggle="tab">
            {{- 'ekyna_core.field.general'|trans -}}
        </a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="menu-general">
            {{ form_row(form.name) }}
            {{ form_row(form.parent) }}
            {{ form_row(form.enabled) }}
            <hr>
            {{ form_row(form.translations) }}
            {{ form_row(form.description) }}
            {% if form.attributes is defined %}
                {{ form_row(form.attributes) }}
            {% endif %}
            <hr>
            {% if form.page is defined -%}
            {{ form_row(form.page) }}
            {%- endif %}
            {% if form.route is defined %}
                {{ form_row(form.route) }}
                {{ form_row(form.parameters) }}
            {% endif %}
        </div>
    </div>
    {{ form_rest(form) }}
</div>
{% endspaceless %}
