{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}


{% block actions %}
    {{ admin_resource_btn(context.config.id, 'Ekyna\\Bundle\\AdminBundle\\Action\\ListAction') }}
{% endblock %}


{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ show_row(menu.name, 'text', {
            'label': 'field.name',
            'label_trans_domain': 'EkynaUi'
        }) }}
        {{ show_row(menu.parent, 'resource', {
            'resource': 'ekyna_cms.menu'
        }) }}
        <hr>
        {{ show_row(menu.translations, 'translations', {
            'fields': {
                'title': {
                    'label': t('field.title', {}, 'EkynaUi'),
                },
                'path': {
                    'label': t('field.url', {}, 'EkynaUi'),
                }
            }
        }) }}
        {{ show_row(menu.description, 'textarea', {
            'label': 'field.description',
            'label_trans_domain': 'EkynaUi'
        }) }}
        {% if is_granted('ROLE_SUPER_ADMIN') -%}
            {{ show_row(menu.attributes, 'map', {
                'label': 'field.attributes',
                'label_trans_domain': 'EkynaUi'
            }) }}
        {%- endif %}
        <hr>
        {% if is_granted('ROLE_SUPER_ADMIN') -%}
            {{ show_row(menu.route, 'text', {
                'label':'field.route',
                'label_trans_domain': 'EkynaUi'
            }) }}
            {{ show_row(menu.parameters, 'map', {
                'label': 'field.parameters',
                'label_trans_domain': 'EkynaUi'
            }) }}
        {%- endif %}
    </div>
{%- endblock main_contents %}
