{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block actions %}
{{ admin_resource_btn(menu, 'list') }}
{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(menu, 'edit') }}
    {{ admin_resource_btn(menu, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#menu-general" id="toggle-general" data-toggle="tab">
                {{- 'ekyna_core.field.general'|trans -}}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="menu-general">
                {{ show_row(menu.name, 'text', {
                    'label': 'ekyna_core.field.name'
                }) }}
                {# TODO parent (entity) #}
                <hr>
                {# TODO title (translations) #}
                {{ show_row(menu.title, 'text', {
                    'label': 'ekyna_core.field.title'
                }) }}
                {{ show_row(menu.description, 'textarea', {
                    'label': 'ekyna_core.field.description'
                }) }}
                {% if is_granted('ROLE_SUPER_ADMIN') -%}
                {{ show_row(menu.attributes, 'map', {
                    'label': 'ekyna_core.field.attributes'
                }) }}
                {%- endif %}
                <hr>
                {{ show_row(menu.path, 'text', {
                    'label': 'ekyna_core.field.url'
                }) }}
                {% if is_granted('ROLE_SUPER_ADMIN') -%}
                    {{ show_row(menu.route, 'text', {
                        'label':'ekyna_core.field.route'
                    }) }}
                    {{ show_row(menu.parameters, 'map', {
                        'label': 'ekyna_core.field.parameters'
                    }) }}
                {%- endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
