{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.menu.header.show'|trans({'%name%': menu})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(menu, 'list') }}
{#{ admin_resource_btn(menu, 'new') }#}
{% endblock %}

{% block main %}
<div class="actions">
	{{ admin_resource_btn(menu, 'edit') }}
	{{ admin_resource_btn(menu, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                {{ show_row(menu.name, 'text', 'ekyna_core.field.name') }}
                <hr>
                {{ show_row(menu.title, 'text', 'ekyna_core.field.title') }}
                {{ show_row(menu.description, 'textarea', 'ekyna_core.field.description') }}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                {{ show_row(menu.attributes, 'key_value_collection', 'ekyna_core.field.attributes') }}
                {% endif %}
                <hr>
                {{ show_row(menu.path, 'text', 'ekyna_core.field.url') }}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {{ show_row(menu.route, 'text', 'ekyna_core.field.route') }}
                    {{ show_row(menu.parameters, 'key_value_collection', 'ekyna_core.field.parameters') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}