{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.image.header.remove'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(image, 'list') }}
{{ admin_resource_btn(image, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_cms_image_admin_remove', identifiers|merge({'imageId': image.id})) }}" method="post" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
		{{ form_widget(form) }}
    </div>
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}