{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.menu.header.new_child'|trans({'%name%': menu.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(menu, 'list') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_cms_menu_admin_new_child', identifiers|merge({'menuId': menu.id})) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaCmsBundle:Menu/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}