{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.menu.header.remove'|trans({'%name%': menu.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(menu, 'list') }}
{#{ admin_resource_btn(menu, 'new') }#}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_cms_menu_admin_remove', identifiers|merge({'menuId': menu.id})) }}" method="post" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
		{{ form_widget(form) }}
    </div>
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}