{% block seo_widget %}
{% spaceless %}
    {{ show_row(value.translations, 'translations', {
        'id': prefix ~'_translations',
        'fields': {
            'title': {'label': 'ekyna_core.field.title'},
            'description': {'label': 'ekyna_core.field.description', 'type': 'textarea'},
        },
    }) }}
    <div class="row">
        <div class="col-md-6">
            {{ show_row(value.changefreq, 'text', {
                'label': 'ekyna_core.field.changefreq',
                'label_col': 4,
                'id': prefix ~ '_changeFreq'
            }) }}
        </div>
        <div class="col-md-6">
            {{ show_row(value.priority, 'text', {
                'label': 'ekyna_core.field.priority',
                'label_col': 4,
                'id': prefix ~ '_priority'
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ show_row(value.follow, 'boolean', {
                'label': 'ekyna_core.field.follow',
                'label_col': 4,
                'id': prefix ~ '_follow'
            }) }}
        </div>
        <div class="col-md-6">
            {{ show_row(value.index, 'boolean', {
                'label': 'ekyna_core.field.index',
                'label_col': 4,
                'id': prefix ~ '_index'
            }) }}
        </div>
    </div>
    {{ show_row(value.canonical, 'url', {
        'label': 'ekyna_core.field.canonical_url',
        'id': prefix ~ '_canonicalUrl'
    }) }}
{% endspaceless %}
{% endblock seo_widget %}
