{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}

{% block ekyna_cms_seo_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {% if form.vars.advanced %}
    <hr>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.changefreq, {'label_col': 4, 'widget_col': 8}) }}</div>
        <div class="col-md-6">{{ form_row(form.priority, {'label_col': 4, 'widget_col': 8}) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.follow, {'label_col': 4, 'widget_col': 8}) }}</div>
        <div class="col-md-6">{{ form_row(form.index, {'label_col': 4, 'widget_col': 8}) }}</div>
    </div>
    {{ form_row(form.canonical) }}
    {% endif %}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_cms_seo_widget %}

{% block ekyna_cms_gallery_image_widget %}
{% spaceless %}
    <div class="row">
        {{ form_errors(form) }}
        {% set controls = form.parent.vars.allow_sort or form.parent.vars.allow_delete %}
        <div class="col-md-{{ controls ? '11' : '12' }}">
            {{ form_widget(form.image) }}
            {{ form_widget(form.position) }}
        </div>
        {% if controls %}
        <div class="col-md-1 child-controls">
            {% if form.parent.vars.allow_sort %}
            <button class="btn btn-default btn-sm" data-role="move-up" type="button">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            {% endif %}
            {% if form.parent.vars.allow_delete %}
            <button class="btn btn-default btn-danger btn-sm" data-role="remove" type="button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            {% endif %}
            {% if form.parent.vars.allow_sort %}
            <button class="btn btn-default btn-sm" data-role="move-down" type="button">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            {% endif %}
        </div>
        {% endif %}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock ekyna_cms_gallery_image_widget %}