{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}


{% block ekyna_cms_seo_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
    {% if form.vars.advanced %}
    {# TODO toggleable wrapper #}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.changefreq, {'label_col': 4, 'widget_col': 8}) }}</div>
        <div class="col-md-6">{{ form_row(form.priority, {'label_col': 4, 'widget_col': 8}) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.follow, {'label_col': 4, 'widget_col': 8}) }}</div>
        <div class="col-md-6">{{ form_row(form.index, {'label_col': 4, 'widget_col': 8}) }}</div>
    </div>
    {{ form_row(form.canonical) }}
    {% endif %}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_cms_seo_widget %}


{% block ekyna_cms_container_background_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.media_id) }}
        </div>
        <div class="col-md-8">
            {{ form_row(form.color, {'label_col': 6, 'widget_col': 6}) }}
            {{ form_row(form.padding_top, {'label_col': 6, 'widget_col': 6}) }}
            {{ form_row(form.padding_bottom, {'label_col': 6, 'widget_col': 6}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_cms_container_background_widget %}
