{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_cms.file.header.show'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(file, 'list') }}
{{ admin_resource_btn(file, 'new') }}
{% endblock %}

{% block main %}
<div class="actions">
	{{ admin_resource_btn(file, 'edit') }}
	{{ admin_resource_btn(file, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                {{ show_row(file.path, 'text', 'ekyna_core.field.path') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}