{% block attributes %}
    {# TODO single/double quotes #}
    {%- for attrname, attrvalue in attr %} {{ attrname }}='{{ attrvalue }}'{% endfor -%}
{% endblock attributes %}

{% block cms_content %}
{% spaceless %}
    {% set attr = content.attributes %}
    <div{{ block('attributes') }}>
        {% for container in content.containers %}
            {{ cms_container(container) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock cms_content %}

{% block cms_container %}
{% spaceless %}
    {% set attr = container.attributes %}
    <div{{ block('attributes') }}>
        {% for row in container.rows %}
            {% set attr = row.attributes %}
            <div{{ block('attributes') }}>
                {% for block in row.blocks %}
                    {% set attr = block.columnAttributes %}
                    <div{{ block('attributes') }}>
                         {{ cms_block(block) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock cms_container %}

{% block cms_block %}
    {% set attr = block.blockAttributes %}
    <div{{ block('attributes') }}>
        {{ block.content|raw }}
    </div>
{% endblock cms_block %}

