{% block attributes %}
    {%- for attrname, attrvalue in attr.toArray %}
        {% if attrname == 'data' %}
            data-cms='{{ attrvalue|json_encode }}'
        {% else %}
            {{ attrname }}="{{ attrvalue }}"
        {% endif %}
    {% endfor -%}
{% endblock attributes %}

{% block cms_content %}
{% spaceless %}
    {% set attr = content.attributes %}
    <div{{ block('attributes') }}>
        {% for container in content.containers %}
            {{ cms_container(container) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock cms_content %}

{% block cms_container %}
{% spaceless %}
    {% set attr = container.attributes %}
    <div{{ block('attributes') }}>
        {{ container.content|raw }}
        {% set attr = container.innerAttributes %}
        <div{{ block('attributes') }}>
            {{ container.innerContent|raw }}
            {% for row in container.rows %}
                {{ cms_row(row) }}
            {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock cms_container %}

{% block cms_row %}
{% spaceless %}
    {% set attr = row.attributes %}
    <div{{ block('attributes') }}>
        {% for block in row.blocks %}
            {% set attr = block.attributes %}
            <div{{ block('attributes') }}>
                 {{ cms_block(block) }}
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock cms_row %}

{% block cms_block %}
{% spaceless %}
    {% for widget in block.widgets %}
        {% set attr = widget.attributes %}
        <div{{ block('attributes') }}>
            {{ widget.content|raw }}
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock cms_block %}


