{% block cms_block_content %}
{% spaceless %}
{% if editable %}<div class="cms-editor-content" data-init='{"id":{{ content.id }}}'>{% endif %}
{% set sizeTotal = 0 %}
{% for block in content.blocks %}
    {% if sizeTotal % 12 == 0 %}<div class="row{% if editable %} cms-editor-row{% endif %}" data-init='{"num":{{ block.row }}}'>{% endif %}
    <div class="col-sm-{{ block.size }}{% if editable %} cms-editor-block" data-init='{{ block.initDatas|json_encode() }}'{% else %}"{% endif %}>
	    {{ cms_content_block(block) }}
	</div>
	{% set sizeTotal = sizeTotal + block.size %}
	{% if sizeTotal % 12 == 0 %}</div>{% endif %}
{% endfor %}
{% if editable %}</div>{% endif %}
{% endspaceless %}
{% endblock cms_block_content %}

{% block cms_block %}
{% if editable %}<div class="cms-editor-block" data-init='{{ block.initDatas|json_encode() }}'>{% endif %}
    {{ cms_content_block(block) }}
{% if editable %}</div>{% endif %}
{% endblock cms_block %}

{% block cms_block_text %}
    <h1>{{ block.text|raw }}</h1>
{% endblock cms_block_text %}

{% block cms_block_tinymce %}
    {{ block.html|raw }}
{% endblock cms_block_tinymce %}

{% block cms_block_image %}
    <img alt="{{ block.alt }}" class="img-responsive" src="{{ block.path|imagine_filter('admin_modal') }}" />
{% endblock cms_block_image %}