{% block attributes %}
    {%- for attrname, attrvalue in attr %}
        {% if attrname == 'classes' %}
            class="{{ attrvalue }}"
        {% elseif attrname == 'data' %}
            data-cms='{{ attrvalue|json_encode }}'
        {% else %}
            {{ attrname }}="{{ attrvalue }}"
        {% endif %}
    {% endfor -%}
{% endblock attributes %}

{% block cms_content %}
{% spaceless %}
    {% set attr = content.attributes %}
    <div{{ block('attributes') }}>
        {% for container in content.containers %}
            {{ cms_container(container) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock cms_content %}

{% block cms_container %}
{% spaceless %}
    {% set attr = container.attributes %}
    <div{{ block('attributes') }}>
        {% for row in container.rows %}
            {{ cms_row(row) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock cms_container %}

{% block cms_row %}
{% spaceless %}
    {% set attr = row.attributes %}
    <div{{ block('attributes') }}>
        {% for block in row.blocks %}
            {% set attr = block.attributes %}
            <div{{ block('attributes') }}>
                 {{ cms_block(block) }}
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock cms_row %}

{% block cms_block %}
    {% set attr = block.pluginAttributes %}
    <div{{ block('attributes') }}>
        {{ block.content|raw }}
    </div>
{% endblock cms_block %}

