{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CMS Editor</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>

    <link href="{{ asset('bundles/ekynacore/css/fontawesome.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ekynacore/css/glyphicons.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ekynacore/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ekynacore/css/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
    {{ admin_stylesheets() }}
    {{ ui_forms_stylesheets() }}
    <link href="{{ asset('bundles/ekynacms/css/editor.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ekynacms/css/editor-icons.css') }}" type="text/css" rel="stylesheet">

    {% include 'EkynaCoreBundle:Ui:ie-fix.html.twig' %}

    {{ require_js(not app.debug) }}
</head>
<body id="cms-editor">

    <div data-controls-placeholder></div>
    <div data-viewport-placeholder></div>
    <div id="cms-editor-busy">
        <div class="sk-fading-circle">
            <div class="sk-circle-1 sk-circle"></div>
            <div class="sk-circle-2 sk-circle"></div>
            <div class="sk-circle-3 sk-circle"></div>
            <div class="sk-circle-4 sk-circle"></div>
            <div class="sk-circle-5 sk-circle"></div>
            <div class="sk-circle-6 sk-circle"></div>
            <div class="sk-circle-7 sk-circle"></div>
            <div class="sk-circle-8 sk-circle"></div>
            <div class="sk-circle-9 sk-circle"></div>
            <div class="sk-circle-10 sk-circle"></div>
            <div class="sk-circle-11 sk-circle"></div>
            <div class="sk-circle-12 sk-circle"></div>
        </div>
    </div>

    {% block javascripts -%}
        <script type="text/javascript">
            require(['ekyna-cms/editor'], function (editor) {
                var config = {{ config|json_encode|raw }};
                editor.init(config);
            });
        </script>
    {%- endblock javascripts %}
</body>
</html>
{% endspaceless %}
